Source: versioneer-gbp-demo
Maintainer: Dan Lipsitt <danlipsitt@gmail.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1



Package: python-versioneer-gbp-demo
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Versioneer/Git-Buildpackage Demo
 # Versioneer/Git-Buildpackage demo
 Demo using versioneer and git-buildpackage together.
 .



